<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/letter" method="post">
     
     <label for="adjective1">Noun</label>
     <input id="adjective1" name="adjective1" type="text">

       <label for="adjective1">Adjective</label>
     <input id="adjective1" name="adjective1" type="text">

          <label for="adjective1">Verb</label>
     <input id="adjective1" name="adjective1" type="text">

          <label for="adjective1">Game Noun</label>
     <input id="adjective1" name="adjective1" type="text">

          <label for="adjective1">Plural Noun</label>
     <input id="adjective1" name="adjective1" type="text">

              <label for="adjective1">Body Part</label>
     <input id="adjective1" name="adjective1" type="text">

               <label for="adjective1">Verb Ending With -Ing</label>
     <input id="adjective1" name="adjective1" type="text">

                    <label for="adjective1">Plant</label>
     <input id="adjective1" name="adjective1" type="text">

                    <label for="adjective1">Number</label>
     <input id="adjective1" name="adjective1" type="text">  
     
    </form>
  </body>
</html>